/* BASICS */

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: Montserrat-light;
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: Montserrat-thin;
  src: url(../fonts/Montserrat-Thin.ttf);
}


@font-face {
	font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: black;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

 
/* nav {
  position: fixed;
  display: none;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(238,238,238 ,1);
  background-color: white;
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
} */


a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

main, header {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 100vw;
}

strong {
  font-family: Montserrat;
}

/* Content */



header {
  width: 100%;
  padding-bottom: 10px;
}

header h1 {
	font-size: 3em;
}

header p {
	font-size: 0.8em;
}

nav {
  height: 60px;
}

nav li a:link,
nav li a:visited {
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  color: black;
  letter-spacing: 5px;
}

.link:hover,
.link:active {
  font-weight: bold;
} 

.links {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

nav li {

  font-weight: normal;
  width: 100px;
  display:inline-block;
}

nav a {
  display:inline-block;
  padding:10px;
}

.branding {
  vertical-align: middle;
}



.store-section {
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding-bottom: 20px;
}

.store-title {
  font-family: Montserrat-thin;
  font-size: 100%;
  letter-spacing: 7px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgb(153, 153, 153);
  padding-bottom: 20px;
}

.merch-box {
  margin: 0;
  display: flex;
  flex-flow: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}


.merch-box > .merch-image {
  padding-bottom: 5%;
}

.merch-box > .merch-name {
  text-align: center;
  font-size: 80%;
  padding-bottom: 2%;
}

.merch-box > .merch-price {
  font-size: 50%;
}


footer {
  height: 15vh;
  background-color: rgb(39, 39, 39);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.socials {
  color: white;
  opacity: 0.8;
  grid-column-start: 3;
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
}

.socials > ul > li {
  display: inline;
  padding: 0 10px;
}

.copyright {
  color: white;
  font-family: Montserrat-light;
  letter-spacing: 1.2px;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  grid-column-start: 3;
  grid-row-start: 4;
  align-self: center;
  justify-self: center;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  45% {
    bottom: 10px;
  }
}
