/* BASICS */

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: Montserrat-light;
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: Montserrat-thin;
  src: url(../fonts/Montserrat-Thin.ttf);
}


@font-face {
	font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  color: #555;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

 
/* nav {
  position: fixed;
  display: none;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(238,238,238 ,1);
  background-color: white;
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
} */


a {
  color: inherit;
  text-decoration: none;
}


/* Content */


nav {
  height: 60px;
}

nav li a:link,
nav li a:visited {
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  color: white;
  letter-spacing: 5px;
  text-shadow: rgb(56, 56, 56) 1px 1px 10px;
}

.link:hover,
.link:active {
  font-weight: bold;
} 

.links {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

nav li {

  font-weight: normal;
  width: 100px;
  display:inline-block;
}

nav a {
  display:inline-block;
  padding:10px;
}

.branding {
  vertical-align: middle;
}

header {
  max-width: 100vw;
  height: 100vh;
}

#hero-background {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  min-height: 100vh;
}

.title {
  font-family: 'Montserrat-thin';
  color: white;
  opacity: 0.9;
  margin: auto;
  text-align: center; 
  margin: 0;
  position: absolute;
  letter-spacing: 5px;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}



header h1 {
	font-size: 3em;
}

header p {
	font-size: 0.8em;
}

.arrow {
  margin-top: 50px;
  
}

.arrow {
  position: absolute;
  color: white;
  opacity: 0.7;
  top: 80%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  
  animation: MoveUpDown 1s ease-in-out infinite;
}

.description {
  opacity: 1;
  font-size: 18px;
  color: white;
  font-family: Montserrat-thin;
  letter-spacing: 0.5px;
}

.about-section {
  height: 50vh;
  color: black;
}

.about-title {
  position: absolute;
  font-family: Montserrat-thin;
  margin-top: 20px;
  padding-top: 0px;
  width: 100%;
  font-size: 100%;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  
}

.about {
  font-family: Montserrat-thin;
  font-size: 28px;
  height: 100%;
  background-color: #f8f9fa;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
  grid-column-gap: 20px;
}

.about > .div, .about > .right-text  {
  font-family: Montserrat-light;
  font-size: 50%;
  line-height: 25px;
  justify-content: left;
  grid-row: 4 / 5;
}

.div {
  grid-column: 3 / 4;
} 

.left-image {
  float: right;
  height: 200px;
  width: auto;
}

.about > .right-text {
  grid-column: 4 / 5;
  padding-left: 10px;
  border-left: 1px solid #888888;
}


.video-section {
  height: 100vh;
  background-image: url("../images/eden-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

footer {
  height: 15vh;
  background-color: rgb(39, 39, 39);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.socials {
  color: white;
  opacity: 0.8;
  grid-column-start: 3;
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
}

.socials > ul > li {
  display: inline;
  padding: 0 10px;
}

.copyright {
  color: white;
  font-family: Montserrat-light;
  letter-spacing: 1.2px;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  grid-column-start: 3;
  grid-row-start: 4;
  align-self: center;
  justify-self: center;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  45% {
    bottom: 10px;
  }
}
