/* BASICS */

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-light;
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-thin;
  src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.landing-screen {
  max-width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  margin-bottom: 10px;
}



/* Reusable */

.full-vh {
  min-height: 100vh;
}

.padding-sides {
  padding-left: 3rem;
  padding-right: 3rem;
}


.box-container {
  width: 20rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  margin-top: 30px;
}

/* Breadcrumb */

.breadcrumb-title {
  font-family: Montserrat-thin;
  font-size: 100%;
  letter-spacing: 7px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgb(153, 153, 153);
  padding-bottom: 20px;
}


.breadcrumb-white strong {
  color: white;
}

.breadcrumb-white {
  color: rgb(209, 209, 209);
}

.breadcrumb-strong {
  font-family: Montserrat;
  color: black;
}



/* Nav */

nav {
  width: 100%;
  height: 60px;
  font-size: 12px;
}

nav li a:link,
nav li a:visited {
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  letter-spacing: 5px;
  text-shadow: rgb(56, 56, 56) 1px 1px 10px;
}

.link:hover,
.link:active,
.link:focus {
  font-weight: bold;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {

  font-weight: normal;
  width: 7.5%;
  display: inline-block;
  margin: 0 10px;
}

nav a {
  display: inline-block;
  margin: 10px;
}

.branding {
  vertical-align: middle;
}

.black-nav li a:link,
.black-nav li a:visited {
  color: black;
  text-shadow: none;
}

/* Footer */

footer {
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: rgb(39, 39, 39);
}

.socials {
  padding-top: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: inline;
  margin: 0 10px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.copyright {
  margin-top: 20px;
  color: rgb(207, 207, 207);
  font-family: Montserrat-light;
  letter-spacing: 1.2px;
  font-size: 12px;
  text-align: center;
}

/* Content */

#hero-background {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  min-height: 100vh;
  
}

.title {
  font-family: 'Montserrat-thin';
  font-size: 120%;
  color: white;
  opacity: 0.9;
  margin: auto;
  text-align: center;
  margin: 0;
  position: absolute;
  letter-spacing: 5px;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}



header h1 {
  font-size: 3em;
}

header p {
  font-size: 0.8em;
}

.arrow {
  margin-top: 50px;

}

.arrow {
  position: absolute;
  color: white;
  opacity: 0.7;
  top: 80%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  animation: MoveUpDown 1s ease-in-out infinite;
}

.description {
  opacity: 1;
  font-size: 18px;
  color: white;
  font-family: Montserrat-thin;
  letter-spacing: 0.5px;
}

.about-section {
  height: 300px;
  color: black;
}

.about-title {
  position: absolute;
  font-family: Montserrat-thin;
  margin-top: 20px;
  width: 100%;
  font-size: 100%;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.about {
  font-family: Montserrat-thin;
  font-size: 28px;
  height: 100%;
  background-color: #f8f9fa;
  padding-top: 50px;
  display: grid;
  grid-template-columns: [left-gutter] 2fr [left-image] 220px [about-text] 220px [right-gutter] 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
  grid-column-gap: 20px;
}

.about>.div,
.about>.right-text {
  font-family: Montserrat-light;
  font-size: 50%;
  line-height: 25px;
  justify-content: left;
  grid-row: 4 / 5;
}

.div {
  grid-column: left-image / about-text;
}

.left-image {
  float: right;
  height: 200px;
  width: auto;
}

.about>.right-text {
  grid-column: about-text / right-gutter;
  padding-left: 10px;
  border-left: 1px solid #888888;
}


.tour-section {
  display: grid;
  height: auto;
  background-image: url("../images/eden-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  grid-template-columns: [left-gutter] 1fr [main] 8fr [right-gutter] 1fr;
  /* grid-template-rows: 0.6fr 1fr 1fr 1fr; */
  grid-auto-rows: repeat(auto-fit, minmax(50px, 1fr));
  grid-column-gap: 1rem;
}

.tour-title {
  font-family: Montserrat-Thin;
  grid-column-start: main;
  grid-row-start: 1;
  text-transform: uppercase;
  letter-spacing: 10px;
  /* border-bottom: 2px solid rgb(255, 255, 255); */
}


.tour-info {
  display: grid;
  grid-column: main / right-gutter;
  border-bottom: 1px solid rgba(100, 100, 100, .7);
  padding: 25px 0;
  grid-template-columns: [date] 3fr [venue] 4fr [location] 4fr [buy] 3fr;
  grid-column-gap: 2rem;
  align-items: center;
  justify-items: start;
  font-size: 50%;
  letter-spacing: 1px;
  font-family: Montserrat-bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.tour-info:last-child {
  border-bottom: none;
  padding-bottom: 25px;
}

.tour-location {
  justify-self: start;
}

.get-tickets {
  justify-self: end;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 200px;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  -webkit-transition: background-color 0.2s, border 0.2s;
  transition: background-color 0.2s, border 0.2s;
}


.btn:hover,
.btn:active,
.btn:focus {
  background-color: #25a25a;
  border: 1px solid #25a25a;
  cursor: pointer;
}

/* STORE */


.padded-header {
  width: 100%;
  margin-bottom: 20px;
}


.store-section {
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 20px;
}


.merch-box {
  margin: 0;
  display: flex;
  flex-flow: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}


.merch-box>.merch-image {
  margin-bottom: 5%;
  opacity: 0.8;
  width: 100%;
  height: auto;
  transform: scale(1.03);
  transition: transform 0.5s, opacity 0.5s;
}

.merch-box>.merch-image:hover {
  opacity: 1;
  transform: scale(1.15);
}


.merch-box>.merch-name {
  text-align: center;
  font-size: 80%;
  margin-bottom: 2%;
}

.merch-box>.merch-price {
  font-size: 50%;
}

/* Contact form */

.contact-body {
  background-image: url("../images/eden-full.jpg");
  background-size: cover;
}

.contact-form {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.card-title {
  font-family: Montserrat;
  font-weight: bold;
  margin: auto;
  font-size: 100%;
  margin-top: 2%;
  margin-bottom: 15%;
}

.contact-form label {
  display: none;
}

.basic-input {
  border: none;
  border-bottom: 1px solid rgba(165, 165, 165, 0.726);
  height: 1.5rem;
  font-size: 80%;
  width: 100%;
  margin: auto;
  margin-bottom: 10%;
  transition: border 0.2s linear;
  color: rgb(43, 43, 43);
}

#contact-message {
  height: auto;
}

.basic-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.contact-form input,
.contact-form textarea {
  display: block;
}


.submit-contact {
  width: 100%;
  color: white;
}

/* music */

.music-box {
  padding-top: 0.5rem;
  overflow: hidden;
  align-items: center;
}

.service {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.5s;
}

.service:nth-child(2) {
  border-top: 1px solid #ddd;
}

.service:last-child {
  border-bottom: none;
}

.service:hover,
.service:focus {
  background-color: #f1f1f1;

}

.listen-heading {
  text-align: center;
  margin: 5px 0;
  margin-bottom: 15px;
}

.btn-ghost {
  font-size: 16px;
  color: #25a25a;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #25a25a;
}


.service:hover>.btn-ghost,
.service:focus>.btn-ghost {
  color: white;
  background: #25a25a;
  border-color: #25a25a;
}

@media screen and (max-width: 1280px) {
  #hero-background {
    display: none;
  }

  .landing-screen {
    background-image: url("../images/eden-vid-still.jpg");
    background-size: cover;
  }

  nav li {
    width: 7.5%;
  }

  .about-section {
    height: 50vh;
  }


  .about {
    font-size: 25px;
    grid-template-columns: [left-gutter] 2fr [left-image] 2fr [about-text] 2fr [right-gutter] 2fr;
  }

  .music-box {
    margin-bottom: 50px;
  }

  footer {
    min-height: 15vh;
    padding-bottom: 100px;
  }
  
  .btn-tour,
  .btn-tour:link,
  .btn-tour:visited {
    text-align: center;
    padding: 8px 20px;
    line-height: 1.5em;
  }

}


@media screen and (max-width: 800px) {

  nav {
    background-color: rgb(24, 24, 24);
    margin-bottom: 30px;
  }

  .black-nav li a:link,
  .black-nav li a:visited {
    color: white;
    text-shadow: none;
  }

  .links {
    padding-top: 10px;

  }
  nav li {
    font-size: 1.5em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .same-page,
  .branding {
    display: none;
  }


  .about-section {
    height: 35vh;
  }


  .about {
    font-size: 25px;
    grid-template-columns: [left-gutter] 2fr [left-image] 5fr [about-text] 5fr [right-gutter] 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
  }

}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  45% {
    bottom: 10px;
  }
}